<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<title>Single Product</title>

</head>

<body class="marginTopForBody">

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- * breadcrumbs -->
	<div class="container">
		<h3>Cart /<span class="orangeTextColor"> checkout </span></h3>
	</div>
	<!-- * end breadcrumbs -->





	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- * alert -->
	<div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
		<div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
		</div>
	</div>
	<!-- * alert end -->


	<!-- * user cart -->
	<div class="position-relative container d-sm-flex justify-content-center  flex-sm-row flex-cloumn col-12 my-5 userCheckoutCartContainer">

		<!-- * address and payment -->
		<div class="col-7">
			<!-- * addresses -->
			<section class="col-12 form-check" id="addressContainer">
				<h4 class="addressTitle rounded-top p-2 text-center text-info">Your addresses</h4>
				<% let i=1 %>
					<% for(const item of checkoutCart.addresses){ %>
						<div class="card mb-3 d-flex flex-row shadow rounded-3 cartCard">

							<div class="card-body mx-3 d-flex flex-column ">
								<input class="form-check-input" type="radio" name="addressRadioBtn" data-addressId="<%= item._id %>"
									data-title="Address <%= i %>" id="<%= 'addressRadioBtn'+i %>" <%=i===1 ? 'checked' : '' %>
								>
								<label class="form-check-label h6 mx-3 mt-1" for="<%= 'addressRadioBtn'+i %>">
									Address <%= i++ %>
								</label>

								<span class="text-secondary fs-5 ">
									<%= item.name %>
								</span>
								<span class="text-secondary fs-5 ">
									<%= item.flatNo %>
								</span>
								<span class="text-secondary fs-5 ">
									<%= item.phone %>
								</span>
								<span class="text-secondary fs-5 ">
									<%= item.email %>
								</span>
								<span class="text-secondary fs-5 ">
									<%= item.place %> ,
										<%= item.city %> ,
											<%= item.state %> ,
												<%= item.country %> ,
								</span>
								<span class="text-secondary">
									<%= item.pinCode %>
								</span>

							</div>
						</div>
						<% } %>

							<div class="d-flex justify-content-center mb-3 mt-2">
								<a class="btn btn-outline-secondary rounded-pill" href="/profile/address">Add new Address</a>
							</div>
							<div class="d-flex justify-content-center">
								<button id="selectAddressBtn" class="btn btn-outline-info btn-lg rounded-pill px-3 p-1"> Select
									address</button>
							</div>
			</section>
			<!-- * addresses end -->

			<!-- * payment -->
			<section class="col-12 my-5 form-check" id="paymentMethodContainer">
				<h4 class="addressTitle rounded-top p-2 text-center text-info">Payment</h4>
				<div class="card mb-3 d-flex flex-row shadow rounded-3 cartCard">
					<div class="card-body mx-3 d-flex flex-column">
						<input class="form-check-input" type="radio" name="paymentRadioBtn" id="paymentRadioBtn1"
							data-title="Wallet" checked>
						<label class="form-check-label h6  mx-3 mt-1" for="paymentRadioBtn1" name="wallet"
							id="paymentRadioBtnLabel">
							wallet
						</label>
						<span class="text-secondary h6 mx-2">
							Available amount : ₹2000
						</span>
					</div>
				</div>
				<hr class="my-1">

				<h5>Other payment methods</h5>
				<div class="card mb-3 d-flex flex-row shadow rounded-3 cartCard">
					<div class="card-body mx-3 d-flex flex-column">
						<input class="form-check-input" type="radio" name="paymentRadioBtn" id="paymentRadioBtn2"
							data-title="Paypal" checked>
						<label class="form-check-label h6  mx-3 mt-1" for="paymentRadioBtn2" name="paypal"
							id="paymentRadioBtnLabel2">
							Paypal
						</label>
						<span class="text-info h6 mx-2">
							<i class="fa-brands fa-cc-mastercard fa-2x "></i>
							<i class="fa-solid fa-credit-card fa-2x ml-1"></i>
							<i class="fa-brands fa-google-pay fa-2x ml-1"></i>
							<i class="fa-brands fa-amazon-pay fa-2x ml-1"></i>
							<i class="fa-brands fa-apple-pay fa-2x ml-1"></i>
						</span>
					</div>
				</div>

				<div class="card mb-3 d-flex flex-row shadow rounded-3 cartCard">
					<div class="card-body mx-3 d-flex flex-column">
						<input class="form-check-input" type="radio" name="paymentRadioBtn" id="paymentRadioBtn3" data-title="COD"
							checked>
						<label class="form-check-label h6  mx-3 mt-1" for="paymentRadioBtn3" name="cod" id="paymentRadioBtnLabel3">
							Pay on delivery / Cash on delivery
						</label>
						<span class="text-secondary h6 mx-2">
							Cash , upi and cards accepted
						</span>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<button id="selectPaymentBtn" class="btn btn-outline-info btn-lg rounded-pill px-3 p-1">Select this payment
						method</button>
				</div>
			</section>
			<!-- * payment end -->

			<div class="d-flex justify-content-center">
				<button class="btn btn-info btn-lg rounded-pill px-3 p-1 paymentBtn">Place order</button>
			</div>

		<div class="d-flex justify-content-center">
			<div id="paypalSection" >
				<div id="paypal-button-container"></div>
				<p id="result-message"></p>
			</div>
		</div>

		</div>
		<!-- * address and payment end -->


		<!-- * price details -->
		<!-- <section id="priceDetails" class="position-relative mt-3 d-flex flex-column justify-content-start p-2 mx-2 col-2"> -->
		<section class="position-relative mt-3 d-flex flex-column justify-content-start p-2 mx-2 col-3 mt-4" id="priceDetailsContainer">
			<div class=" col-8  top-0 p-3 shadow rounded-3">
				<h6 class="text-secondary">Total items : <span class="fs-5" id="totalItems">
						<%=checkoutCart.totalItems %>
					</span>
				</h6>
				<h6 class="text-secondary">Subtotal : ₹<span class="fs-5" id="subTotal">
						<%=checkoutCart.subTotalPrice %>
					</span>
				</h6>
				<h6 class="text-secondary">Delivery Fee : ₹<span class="fs-5" id="deliveryFee">
						<%= checkoutCart.deliveryFee %>
					</span>
				</h6>
				<div class="my-2">
					<% let j=0 %>
						<% for(const coupon of checkoutCart?.unusedCoupons) {%>
							<a data-code="<%= coupon.code %>" name="<%= coupon.code %>"
								class="couponBtns d-flex justify-content-center border-1 border-success p-1">
								<span class="text-success h6 ">
									get
									<% if (coupon.discountType==='amount' ){ %>
										₹<%= coupon.discountValue %> OFF
											<% }else{%>
												<%= coupon.discountValue %>% OFF
													<% } %>
								</span>
							</a>
							<% j++ %>
								<% if(j>=3){%>
									<% break %>
										<% } %>
											<% } %>
				</div>
				<h6 class="d-none border-1 border-success">Applied coupon :
					<span class="fs-5 text-success" id="coupon">
						<%= appliedCouponDetails?.discountValue %>
					</span>
					<a id="removeCouponBtn"><i class="fa-regular fa-circle-xmark"></i></a>
				</h6>
				<h6 class="d-none text-secondary text-decoration-line-through ">₹<span class="fs-5v " id="prevTotal">
					</span>
				</h6>

				<h5 class="priceTextColor ">Total : ₹<span class="fs-5" id="total">
						<%=checkoutCart.totalPrice %>
					</span>
				</h5>
				<div class="d-flex justify-content-between my-1 mb-3">
					<input class="form-control mr-1 w-75" type="text" placeholder="coupon code" />
					<button class="btn btn-primary rounded-pill" id="applyCouponBtn">Apply</button>
				</div>

				<div>
					<h6 class="text-secondary">Address :  <span id="priceDetailsAddress" class="text-primary"> </span></h6>
					<h6 class="text-secondary">payment Method : <span id="priceDetailsPaymentMethod" class="text-primary"> </span></h6>
				</div>

				<button id="showAddressSectionBtn" class="btn btn-outline-info rounded-pill px-3 p-1 my-2 w-100"> Go to address
					selection</button>
				<button id="showPaymentSectionBtn" class="btn btn-outline-info rounded-pill px-3 p-1 my-2 w-100">Go to payment
					selection</button>
				<button class="btn btn-info rounded-pill w-100 my-2  paymentBtn ">Place order</button>
			</div>

		</section>

	</div>







	<!-- footer -->
	<div class="footer-area">
		<div class="container">

			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium, totam rem aperiam, eaque ipsa quae.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
						<li>support@fruitkha.com</li>
						<li>+00 111 222 3333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Shop</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Initialize the JS-SDK -->
	<% scriptBlock=` <script
		src="https://www.paypal.com/sdk/js?client-id=${paypalClientId}&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo"
		data-sdk-integration-source="developer-studio">
		</script>

		<script>
			let appliedCoupon = ${ JSON.stringify(appliedCouponDetails)};
		</script>

		<script src="/static/user/scripts/user.js"></script>
		<script src="/static/user/scripts/checkout.js"> </script>
		`
		%>



</body>

</html>