<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Home</title>

  <meta name="description" content="" />
  <link rel="stylesheet" href="/static/admin/assets/vendor/libs/apex-charts/apex-charts.css" />


  <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">


      <!-- Layout container -->
      <div class="layout-page">


        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">

            <!-- * alert -->
            <div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
              <div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
              </div>
            </div>
            <!-- * alert end -->

            <!-- * cards -->
            <div class="col-lg-12 mb-4 order-0">
              <div class="row d-flex flex-sm-row flex-column">
                <div class="col-sm-3 col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/admin/assets/img/icons/unicons/chart-success.png" alt="chart success"
                            class="rounded" />
                        </div>
                      </div>
                      <span class="fw-semibold d-block mb-1">Profit</span>
                      <h3 class="card-title mb-2">₹<%= profitDetails.totalProfit %>
                      </h3>
                      <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-3  col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/admin/assets/img/icons/unicons/wallet-info.png" alt="Credit Card"
                            class="rounded" />
                        </div>
                      </div>
                      <span>Completed payments</span>
                      <h3 class="card-title text-nowrap mb-1"><%= profitDetails.completedPaymentsCount  %></h3>
                      <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-3  col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/admin/assets/img/icons/unicons/paypal.png" alt="Credit Card"
                            class="rounded" />
                        </div>
                      </div>
                      <span class="d-block mb-1">Pending payments</span>
                      <h3 class="card-title text-nowrap mb-2"> <%= profitDetails.pendingPaymentsCount %> </h3>
                      <!-- <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -14.82%</small> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-3  col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img src="/static/admin/assets/img/icons/unicons/cc-primary.png" alt="Credit Card"
                            class="rounded" />
                        </div>
                      </div>
                      <span class="fw-semibold d-block mb-1">Transactions</span>
                      <h3 class="card-title mb-2">₹<%= profitDetails.totalTransactions %> </h3>
                      <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- * cards end -->

            <!-- * area and doughnut charts -->
            <div class="row d-flex  flex-sm-row flex-column  justify-content-between mx-1">
              <!-- * Total Revenue chart-->
              <div class="col-12 col-sm-6 col-md-6 col-lg-7  mb-4 bg-white mr-md-4 p-2  rounded-3 shadow">
                <canvas id="revenueChart" height="200"></canvas>
              </div>
              <!-- * Total Revenue chart end -->

              <!-- * sales per category-->
              <div class="col-12 col-lg-4 col-sm-6 mb-4 p-2 bg-white rounded-3 shadow">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="card-title m-0 me-2">Category wise sales</h5>
                </div>
                <div class="d-flex justify-content-center m-3 mb-1">
                  <div class="mt-2 px-2 mb-3 ">
                    <div class="dropdown">
                      <button id="dayDropdownBtn" class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        day
                      </button>
                      <ul class="dropdown-menu " id="dayDropdown">

                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 px-2 mb-3">
                    <div class="dropdown">
                      <button id="monthDropdownBtn" class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        month
                      </button>
                      <ul class="dropdown-menu " id="monthDropdown">

                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 px-2  mr-2 mb-3">
                    <div class="dropdown ">
                      <button id="yearDropdownBtn" class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        year
                      </button>
                      <ul class="dropdown-menu" id="yearDropdown">

                      </ul>
                    </div>
                  </div>

                </div>
                <canvas id="orderPaymentTypes" height="200"></canvas>
              </div>
              <!-- * sales per category -->
            </div>
            <!-- * area and doughnut charts end-->


            <div class="row">
              <!-- * Top 10 sales in categories -->
              <div class="col-md-6 col-lg-4 order-0 mb-4">
                <div class="card h-100">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Top 10 sales in categories</h5>
                  </div>
                  <div class="card-body">
                    <ul class="p-0 m-0">
                      <% for(const item of topSalesInCategories) {%>
                        <li class="d-flex mb-4 pb-1">
                          <div class="avatar flex-shrink-0 me-3">
                            <img src="<%= item.image.path %>" alt="<%= item.categoryName %>" class="rounded" />
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">
                                <%= item.categoryName %>
                              </h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0">
                                <%= item.orderCount %>
                              </h6>
                              <span class="text-muted">orders</span>
                            </div>
                          </div>
                        </li>
                        <% } %>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- * Top 10 sales in categories end -->

              <!-- * Top 10 sales in products -->
              <div class="col-md-6 col-lg-4 order-1 mb-4">
                <div class="card h-100">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Top 10 sales in products</h5>
                  </div>
                  <div class="card-body">
                    <ul class="p-0 m-0">
                      <% for(const item of topSalesInProducts) {%>
                        <li class="d-flex mb-4 pb-1">
                          <div class="avatar flex-shrink-0 me-3">
                            <img src="<%= item.images[0].path %>" alt="<%= item.productName %>" class="rounded" />
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">
                                <%= item.productName %>
                              </h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0">
                                <%= item.totalQuantityOrdered %>
                              </h6>
                              <span class="text-muted">orders</span>
                            </div>
                          </div>
                        </li>
                        <% } %>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- * Top 10 sales in products end-->

              <!-- * Top 10 sales in brands -->
              <div class="col-md-6 col-lg-4 order-2 mb-4">
                <div class="card h-100">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Top 10 sales in brands</h5>
                  </div>
                  <div class="card-body">
                    <ul class="p-0 m-0">
                      <% for(const item of topSalesInBrands) {%>
                        <li class="d-flex mb-4 pb-1">
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">
                                <%= item.brand %>
                              </h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0">
                                <%= item.totalQuantityOrdered %>
                              </h6>
                              <span class="text-muted">orders</span>
                            </div>
                          </div>
                        </li>
                        <% } %>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- * Top 10 sales in brands end-->
            </div>
          </div>
          <!-- / Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
              <div class="mb-2 mb-md-0">
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by
                <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
              </div>
              <div>
                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                  target="_blank" class="footer-link me-4">Documentation</a>

                <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
                  class="footer-link me-4">Support</a>
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>


  <% scriptBlock=`<script src="/static/admin/assets/vendor/libs/apex-charts/apexcharts.js">
    </script>
    <script src="/static/admin/assets/js/dashboards-analytics.js"></script>

    <script>
      window.totalRegisters = ${ JSON.stringify(totalRegisters) };
      window.totalProducts = ${ JSON.stringify(totalProducts) };
      window.totalOrders = ${ JSON.stringify(totalOrders) };
      window.ordersPerCategories = ${ JSON.stringify(ordersPerCategories) };
    </script>
    <script src="/static/admin/scripts/adminDashboard.js"></script>
    `
    %>
</body>

</html>