<!DOCTYPE html>

<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>product</title>
    <meta name="description" content='' />
  </head>

  <body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
       

        <!-- Layout container -->
        <div class="layout-page">
         

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- * alert -->
              <div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
                <div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
                </div>
              </div>
              <!-- * alert end -->

              

              <% if(isEdit) {%>
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products /</span> Edit products</h4>
                <% }else { %>
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products /</span> Create products</h4>
                  <% } %>

              <div class="row">

                  <div class="card mb-4">
                    <h5 class="card-header">Product Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <% if(!isEdit) {%>
                            <div class="d-flex " id="imageOuterContainer">
                                <div class="position-relative shadow bg-white mx-2 rounded imageContainer" >
                                  <!-- * show these only after adding -->
                                  <img 
                                  src="/static/admin/image/noImage.jpg"
                                   alt=""
                                   class="d-block rounded"
                                    height="100"
                                    width="100" 
                                    id="uploadedAvatar" 
                                  />
                                </div>
                            </div>

                          <% } else { %>
                            <div class="d-flex " id="imageOuterContainer">
                            <% for(let singleImage of product.image ) {%>
                                <div class="position-relative shadow bg-white mx-2 rounded image-container" data-image-id="<%= singleImage?._id  %>">
                                  <a  class="position-absolute right-0 top-0 deleteImageBtn p-1 cursor-pointer" data-item="<%= singleImage?._id  %>">
                                    <i class="fa-solid fa-circle-xmark" ></i>
                                  </a>
                                  <img 
                                    src="<%= singleImage?.path%>" 
                                    alt="<%= singleImage?.originalName %>" 
                                    class="d-block rounded" 
                                    height="100" width="100"
      
                                    id="uploadedAvatar" 
                                    />
                                </div>
                                  <% } %>
                              </div>
                            <% } %>
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg, image/webp" 
                              multiple
                            />
                          </label>

                          <% if(isEdit) {%>
                             <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                              <i class="bx bx-reset d-block d-sm-none"></i>
                              <span class="d-none d-sm-block">Reset</span>
                            </button>
                          <% } %>
                          <p class="text-muted mb-0">Allowed JPG, WEBP or PNG. Max size of 800K</p>
                        </div>
                      </div>
                      <div class="py-2">
                        <p class="text-muted mb-0">keep parent Id null or "" to edit parent </p>
                        <p class="text-muted mb-0">add parent Id from table to edit child category</p>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                     

                      <form id="formProduct" method="POST" onsubmit="return false">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="Name" class="form-label">Name</label>
                            <input
                              class="form-control"
                              type="text"
                              id="Name"
                              name="name"
                              value= "<%= isEdit ? product?.name : '' %>"
                              autofocus
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="subCategory" class="form-label">SubCategory</label>
                            <input class="form-control" 
                            type="text"
                            name="subCategory" id="subCategory" 
                            value= "<%= isEdit ? product?.subcategory?.name  : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="subCategoryId" class="form-label">subcategory Id</label>
                            <input class="form-control" 
                            type="text"
                            name="subCategoryId" 
                            id="subCategoryId" 
                            value= "<%= isEdit ? product?.subcategory?._id  : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <div class="dropdown">
                              <button id="showCategoriesDropdownBtn" class="btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sub categories
                              </button>
                              <ul class="dropdown-menu" id="categoryDropdown">
                                <% for(const item of subCategory ) { %>
                                  <li><a class="dropdown-item" data-item="<%= item._id %>">
                                      <%= item.name %>
                                    </a></li>
                                  <% } %>
                              </ul>
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="id" class="form-label">Id</label>
                            <input class="form-control" type="text" 
                            name="id"
                             id="id"
                              value="<%= isEdit ? product?._id : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="price" class="form-label">Price</label>
                            <input
                              class="form-control"
                              type="text"
                              id="price"
                              name="price"
                              <% if (isEdit) {%>
                                placeholder="enter original price"
                                value = "<%= isEdit ? product?.price  : '' %>"
                                <% } %>
                             />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="finalPrice" class="form-label">Final Price</label>
                            <input
                              type="text"
                              class="form-control"
                              id="finalPrice"
                              name="finalPrice"
                              value= "<%= isEdit ? product?.finalPrice : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="rating class="form-label">rating</label>
                            <input type="text" class="form-control" 
                            id="rating" 
                            name='rating'
                            value="<%=isEdit ? product?.rating : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="peopleRated class="form-label">peopleRated</label>
                            <input type="text" class="form-control" 
                            id="peopleRated" 
                            name='peopleRated'
                            value="<%=isEdit ? product?.peopleRated : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="stock class="form-label">stock</label>
                            <input type="text" 
                            class="form-control" 
                            id="stock" 
                            name='stock'
                            value= "<%= isEdit ? product?.stock : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="description class="form-label">description</label>
                            <input type="text" 
                            class="form-control" 
                            id="description" 
                            name='description'
                            value="<%= isEdit ? product?.productInfo?.description : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="featuresAndDetails class="form-label">featuresAndDetails</label>
                            <input type="text" 
                            class="form-control" 
                            id="featuresAndDetails" 
                            name='featuresAndDetails'
                            value="<%= isEdit ? product?.productInfo?.featuresAndDetails : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="brand class="form-label">brand</label>
                            <input type="text" 
                            class="form-control" 
                            id="brand" 
                            name='brand'
                            value="<%= isEdit ? product?.productInfo?.brand : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="soldBy class="form-label">soldBy</label>
                            <input type="text" 
                            class="form-control" 
                            id="soldBy" 
                            name='soldBy'
                            value="<%= isEdit ? product?.productInfo?.soldBy : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="location class="form-label">location</label>
                            <input type="text" 
                            class="form-control" 
                            id="location" 
                            name='location'
                            value="<%= isEdit ? product?.productInfo?.location : '' %>"
                            />
                            <span id="small" class="opacity-0"></span>
                          </div>



                          
                         
                          
                        <div class="mt-2">
                          <% if(isEdit) {%>
                            <button id="submitBtn" type="submit" class="btn btn-primary me-2"> Save changes</button>
                          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                          <% } else {%>
                            <button id="submitBtn" type="submit" class="btn btn-primary me-2"> Create new product</button>
                          <% } %>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                 
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

  <% if(isEdit) { %>
    <script> isEdit = true</script>
    <% } else {%>
      <script> isEdit = false</script>
      <% }%>

   
    <!-- * category script -->
  <% scriptBlock=  `
    <script src="/static/admin/assets/js/pages-account-settings-account.js"></script>
    <script src="/static/admin/scripts/product.js"></script>`
  %>

  
  </body>
</html>