<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<title>Single Product</title>

	<!-- * product zoom css -->
</head>

<body class="marginTopForBody">

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- * breadcrumbs -->
	<div class="container">
		<h3>My profile /<span class="orangeTextColor"> my orders </span></h3>
	</div>
	<!-- * end breadcrumbs -->





	<!-- * alert -->
	<div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
		<div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
		</div>
	</div>
	<!-- * alert end -->

	<!-- * orders -->
	<div class="container my-5">

		<% for(const order of orders) {%>
			<section class="card mt-4 shadow-sm p-2 ordersCard">

				<div class="card-header d-sm-flex justify-content-between ordersCardTitle">
					<div class="d-flex ">
						<div class="d-flex flex-column mr-5">
							<span class="text-uppercase text-secondary fw-semibold">order placed</span>
							<span class="text-secondary createdAt">
								<%= order.createdAt %>
							</span>
						</div>
						<div class="d-flex flex-column ">
							<span class="text-uppercase text-secondary fw-semibold">Total</span>
							<span class="text-secondary">₹<%= order.total %></span>
						</div>
					</div>

					<div class="d-flex flex-column">
						<span class="text-uppercase text-secondary fw-semibold">order <%= order._id %> </span>
						<div class="d-flex justify-content-center">
							<a href="/profile/orderdetails?orderId=<%= order._id %>"
								class="btn btn-outline-info text-secondary rounded-pill mr-2">Order details
							</a>
						</div>
					</div>
				</div>

				<div class="card-body d-sm-flex">

					<div class="imageCollection d-flex flex-wrap shadow rounded mr-3">
						<% let n=(order?.products?.length < 4) ? order?.products?.length : 4 %>
							<% for(let i=0;i< n;i++) {%>
								<img class="p-1" src="<%= order.products[i]?.image?.[0]?.path %>" alt="">
								<% } %>
					</div>

					<div class="d-flex flex-column mx-3 justify-content-start">
						<div class="mb-1">
							<% for(const product of order.products) {%>
								<span class="h5 text-secondary mr-1">
									<%= product.name+", " %> </span>
								<% } %>
							</div>
								<span class=" h6 text-secondary " >
									Order status : <span class=" px-3 rounded-pill text-white orderStatus">
										<%= order.orderStatus %>
								</span>
								</span>
								<span class="h6 text-secondary">
									paymentStatus : <span class="px-3 rounded-pill bg-warning text-white  paymentStatus">
										<%= order.paymentStatus %>
									</span>
								</span>
								<span class="h6 text-secondary">
									paymentMethod : <%= order.paymentMethod %>
								</span>

								<div class="d-flex justify-content-start">
									<button data-orderId="<%= order._id %>"
										class="btn btn-outline-danger rounded-pill orderCancelBtn mr-2">Cancel</button>
									<button data-orderId="<%= order._id %>"
										class="btn btn-outline-info rounded-pill orderReturnBtn">Return</button>
								</div>


						</div>
					</div>
			</section>
			<% } %>

			<!-- *pagination  -->
			<div class="d-flex justify-content-center align-items-center p-2 ">
				<button class="btn btn-secondary  rounded-pill mx-2 w-auto smallBtn " id="prevBtn">
					<i class="fa-solid fa-chevron-left fa-xs"></i>
				</button>
				<div id="pageInfoContainer">
					<span>
						<%= page %> out of
					</span>
					<span>
						<%= numberOfPages %>
					</span>
				</div>
				<button class="btn btn-secondary  rounded-pill mx-2 w-auto smallBtn " id="nextBtn">
					<i class="fa-solid fa-chevron-right"></i>
				</button>
			</div>
			<!-- *pagination end -->
	</div>
	<!-- * orders -->



	<!-- footer -->
	<div class="footer-area">
		<div class="container">

			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium, totam rem aperiam, eaque ipsa quae.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
						<li>support@fruitkha.com</li>
						<li>+00 111 222 3333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Shop</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const pageDetails = {
			page: parseInt("<%= page %>"),
			numberOfPages: parseInt("<%= numberOfPages %>"),
		} 
	</script>

	<% scriptBlock=` <script src="/static/user/scripts/user.js">
		</script>
		<script src="/static/user/scripts/orders.js"></script>

		`
		%>

</body>

</html>