<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
  <title>Single Product</title>

  <!-- * product zoom css -->
</head>

<body class="marginTopForBody">

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->

  <!-- * breadcrumbs -->
  <div class="container">
    <h3>My profile /<span class="orangeTextColor"> Wallet </span></h3>
  </div>
  <!-- * end breadcrumbs -->

  <!-- * alert -->
  <div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
    <div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
    </div>
  </div>
  <!-- * alert end -->


  <!-- * user buttons -->
  <div class="container d-sm-flex justify-content-center flex-sm-row flex-cloumn col-12 my-5 ">

    <section class="container-sm d-flex justify-content-start flex-wrap align-items-center flex-sm-row flex-column ">

      <div class="col-sm-3 col-12  h-100 my-2 d-flex align-items-start justify-content-center">
        <div class="">
          <input class="form-control w-100" id="amountInput" type="Number" placeholder="enter amount" />
          <div class="d-flex justify-content-center">
            <div id="paypalSection">
              <div id="paypal-button-container"></div>
              <p id="result-message"></p>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-sm-8 col-12 justify-content-center">
        <div class="d-flex justify-content-center py-3   walletTransactionsTitle shadow">
          <h5 class="text-secondary">wallet amount : <span class="text-success">
              ₹<%= wallet?.balance %>
            </span> </h6>
        </div>

        <div class="my-2">
          <% for(const item of wallet?.transactions) {%>
            <div class="walletTransactions shadow rounded-3 p-2 px-3 my-2 ">
              <h6 class="<%= item.credit ? 'text-success' : 'text-danger' %>   "> amount : ₹<span>
                  <%= item.amount %>
                </span> </h6>
              <h6 class="text-secondary"> date : <span class="date">
                  <%= item.date %>
                </span> </h6>
            </div>
            <% } %>
        </div>
      </div>


    </section>

  </div>
  <!-- * user buttons -->

  <!-- *pagination  -->
  <div class="d-flex justify-content-center align-items-center p-2 ">
    <button class="btn btn-secondary  rounded-pill mx-2 w-auto smallBtn " id="prevBtn">
      <i class="fa-solid fa-chevron-left fa-xs"></i>
    </button>
    <div id="pageInfoContainer">
      <span>
        <%= page %> out of
      </span>
      <span>
        <%= numberOfPages %>
      </span>
    </div>
    <button class="btn btn-secondary  rounded-pill mx-2 w-auto smallBtn " id="nextBtn">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <!-- *pagination end -->


  <!-- footer -->
  <div class="footer-area">
    <div class="container">

      <div class="col-lg-3 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">About us</h2>
          <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Get in Touch</h2>
          <ul>
            <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
            <li>support@fruitkha.com</li>
            <li>+00 111 222 3333</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Pages</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Shop</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box subscribe">
          <h2 class="widget-title">Subscribe</h2>
          <p>Subscribe to our mailing list to get the latest updates.</p>
          <form action="index.html">
            <input type="email" placeholder="Email">
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- end footer -->

  <!-- copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights Reserved.<br>
            Distributed By - <a href="https://themewagon.com/">Themewagon</a>
          </p>
        </div>
        <div class="col-lg-6 text-right col-md-12">
          <div class="social-icons">
            <ul>
              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const pageDetails = {
      page: parseInt("<%= page %>"),
      numberOfPages: parseInt("<%= numberOfPages %>"),
    } 
  </script>

  <% scriptBlock=` <script
    src="https://www.paypal.com/sdk/js?client-id=${paypalClientId}&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo"
    data-sdk-integration-source="developer-studio">
    </script>
    <script src="/static/user/scripts/user.js"> </script>
    <script src="/static/user/scripts/wallet.js"></script>
    `
    %>

</body>

</html>